<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.meetball.demo.persistence.UserMapper">
    <select id="getUserByUserName" resultType="com.meetball.demo.domain.User">
        SELECT * FROM users WHERE userName = #{userName}
    </select>

    <insert id="insertUser" parameterType="com.meetball.demo.domain.User">
          INSERT INTO users (userName, name, password, age, driverLicense, telephone)
              VALUES   (#{userName}, #{name}, #{password}, #{age}, #{driverLicense}, #{telephone})
    </insert>


</mapper>